*{
    background-color: #393D3F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fdfdff;
}

.form-popup {
    position: fixed;
    bottom: 170px;
    left: 500px;
    width: 500px;
    height: 400px;
    border: 3px solid #fe7f2d;
    box-shadow: 0 0 10px #fe7f2d;
    border-radius: 5px;
  }
  
  .form-container {
    padding: 10px;
    background-color: #393D3F;
  }

  label{
      font-size: 16pt;
  }

  button{
    font-size: 16pt;
    box-shadow: 0 0 10px #fe7f2d;
    border: 3px solid #fe7f2d;
    border-radius: 5px;
}   

button:hover{
    background-color:#5688C7;
    border: 3px solid #5688C7;
    box-shadow: 0 0 10px #5688C7;
}

h1{
    text-align: center;
}

.child-div{
    margin: 40px 0px;
    padding-left: 50px;
}

.btn{
    margin-left: 200px;
    margin-top: 60px;
}

input{
    border: 3px solid #fe7f2d;
    border-radius: 5px;
    box-shadow: 0 0 10px #fe7f2d;
    font-size: 14pt;
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px #5688C7;
    border: 3px solid #5688C7;
}

select{
    border: 3px solid #fe7f2d;
    border-radius: 5px;
    box-shadow: 0 0 10px #fe7f2d;
    font-size: 14pt;
}

select:focus{
    outline: none;
    box-shadow: 0 0 10px #5688C7;
    border: 3px solid #5688C7;
}
